@font-face {
  font-family: 'Raleway regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Raleway-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Raleway bold';
  font-style: normal;
  font-weight: 700;
  src: url('../font/Raleway-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'openSans regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/OpenSans-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'openSans bold';
  font-style: normal;
  font-weight: 700;
  src: url('../font/OpenSans-Bold.ttf') format('woff');
}
